<!-- -*-html-*- -->

  <script id="item-template" type="text/x-handlebars-template">
    <!-- {{category}} -->
    <h1 class="page-heading cf">{{category}}</h1>
    <section class="post-list cf">
      {{#each datasets}}
        <div class="post-preview">
          <h3><a class="post-link" href="dataset.html?id={{title}}">{{title}}</a></h3>
          <p>{{summary}}</p>
          {{#if link}}
          <a href="{{link}}">See Data &gt;&gt;</a>
          {{/if}}
        </div>
      {{/each}}
    </section>

  </script>


